body{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: slateblue;
  color: coral;
   
}
img {
    width: 200px;
  }
